body {
  font-family: "Cousine", monospace;
  background-image: url(../img/fondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
}

/* #primera-parte {
  margin: 0%;
  padding: 0%;
  text-align: center;
  color: #795442;
} */

#Acerca-de-mi {
  color: #9f9292;
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.card {
  margin: 1rem;
}
.card img {
  width: auto;
  max-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#Habilidades {
  padding: 2rem;
  color: white;
  background-color: #d7d6d2;
  margin: auto;
}
.listadoImágenes img {
  background-color: white;
  width: 18rem;
}
