body {
  font-family: "Cousine", monospace;
}

#primera-parte {
  background-image: url(../img/imagen4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  backdrop-filter: blur(100px);
  margin: 0%;
  padding: 0%;
  text-align: center;
}

.navbar {
}
