body {
  font-family: "Cousine", monospace;
  background-image: url(../img/fondooo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
}

#Acerca-de-mi {
  color: black;
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;
}
.card img {
  width: auto;
  max-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#Habilidades {
  padding: 1rem;
  color: black;
  background-color: white;
  margin: auto;
}

.carousel-inner img {
  margin: auto;
  display: block;
  justify-content: center;
  border-radius: 1rem;
}

.list-group-item {
  background-color: white;
}

#Portafolio {
  background-color: white;
  color: black;
  padding: 2rem;
}

footer {
  background-color: #6d98d3;
  color: white;
  margin-top: 2rem;
  text-align: center;
  align-content: center;
}

.columna {
  background-color: white;
  border-radius: 1rem;
}
